
.champenrol{
    width: 180px;
    height: 180px;
    border: 3px solid #000;
    float: left;
    margin-left: 15%;
    margin-right: 5%;
}

.h1{
    text-align: center;
    margin-top: 30px;
}


.build {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 113px;
    height: 113px;
    border: 2px solid #000;
    float: left;
    display: table;
}

.achtergrond {
    background-image: url("afbeeldingen/background.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



.champenrolvak{
    margin-top: 5%;
    height: 40%;
    width: 100%;
}

.buildvak{
    margin-left: 15%;
    height: 23%;
}

.allesknop {
    border: 3px solid #000;
    padding: 12px 28px; /* groter maken */
    border-radius: 8px; /* ronde hoeken */
    transition-duration: 0.4s;
    text-align: center;
    margin: auto;
    display: grid;
}

.allesknop:hover{
    background-color: blue;
    color: white;
}

.knop {
    float: left;
    border: 3px solid #000;
    text-align: center;  /* tekst in het midden */
    padding: 12px 28px;  /* groter maken */
    border-radius: 8px; /* ronde hoeken */
    transition-duration: 0.4s;
}

.knop:hover{ /* zorgt ervoor dat de knop van kleur verandert als je erover hovert*/
    background-color: blue;
    color: white;
}

.rugzijdebuild {
    background: url("afbeeldingen/vraagteken.jpg");
    background-size: 113px 113px;
}

.rugzijderol {
    background: url("afbeeldingen/vraagteken.jpg");

}

.rugzijdechamp {
    background: url("afbeeldingen/vraagteken.jpg");
    background-size: 180px 180px;
}